

/*profile page*/
.events-wrapper{
  padding-top:20px;
  padding-bottom: 20px;
}

.panel{
  margin-top: 20px;
}
.list-group{
  margin-top: 20px;
}



#my-map.small {
    height: 400px;
}

#my-map {
    height: 400px;
    width: 400px;

}

.container {
    margin-top:
        20px;
}


/*view friends*/
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 125px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 200px;
}


/*MODALS*/

/* SEARCH RESULTS PAGE DIVS*/

.event-results {  
    text-decoration: none;
    display: block;
    padding: 5px;
    margin-top: 10px;
   
}

/* MAP in modals*/
.modalMap {
  margin: 0;
  padding: 0;
  height:480px;
}


/*general*/
img{
  padding: 10px;
}





   





