/*profile page*/
#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
}

#wrapper:hover .text {
visibility:visible;
}

.hover:hover {
    opacity: 0.5;
}
/*upload button for profile image*/
.upload-button {
border:2px solid black;

margin: 10px;
}

.save-button{
	border:2px solid black;

margin: 10px;
}


#my-map.small {
    height: 400px;
}

#my-map {
    height: 400px;
    width: 400px;

}

.container {
    margin-top:
        20px;
}


html, body, .map-canvas  {
  margin: 0;
  padding: 0;
  height: 100%;
}

.map-canvas {
  width:500px;
  height:480px;
}
