

/*profile page*/
.events-wrapper{
  padding-top:20px;
  padding-bottom: 20px;
}

.panel{
  margin-top: 20px;
}
.list-group{
  margin-top: 20px;
}



#my-map.small {
    height: 400px;
}

#my-map {
    height: 400px;
    width: 400px;

}

.container {
    margin-top:
        20px;
}


/*view friends*/

#wrapper .text {
position:relative;
bottom:30px;
left:20px;
visibility:hidden;
}

#wrapper:hover .text {
visibility:visible;

color:white;
}




/*MODALS*/

/* SEARCH RESULTS PAGE DIVS*/

.event-results {  
    text-decoration: none;
    display: block;
    padding: 5px;
    margin-top: 10px;
   
}

/* MAP in modals*/
.modalMap {
  margin: 0;
  padding: 0;
  height:480px;
}


/*general*/
img{
  padding: 10px;
}

a {
      color: black;
     text-decoration: none ;
  }
a:hover
  {
    color:black;
    text-decoration:none;
    cursor:pointer;
   }






   





