{% extends 'base.html' %}
{% block content %}

<form action="/save-event/{{event.event_id}}" method="POST" enctype="multipart/form-data">
<button type="submit" class="btn btn-default" value="Submit"> Save Event </button> <br>



<img src="/static/img/pinata.jpg" class="img-thumbnail img-responsive profile-pic" alt="Cinque Terre" width="300"> 

  <div class="upload-button">Upload Image</div>
        <input type="file" name="image-upload" class="file-upload" id="upload" style="display: none;" accept="image/*" > <br>


<div>
  Event Name: <input type="text" name="event_title">
</div>
</form>

    <div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' id='start-date'class="form-control" />
                <span class="input-group-addon"> 
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                
            </div>
        </div>
        <button class="start" data-event-id="{{event.event_id}}" type="button">save</button>
    </div>
    
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' id='end-date' class="form-control" />
                <span class="input-group-addon"> 
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
               
            </div>
        </div>
    </div>
     <button class="end" data-event-id="{{event.event_id}}" type="button">save</button>
</div>



<h2> Add Friends </h2>
<ul id="friends">
  {% for friend in friends %}
  <li>
    <div>
      {{friend.first_name}}
      <button type="button" class="request" data-friend-id="{{friend.user_id}}" data-event-id="{{event.event_id}}">send request</button>
    </div>
  </li>
  {% endfor %}
</ul>


<div class="search-form panel">
        <h2>Search for study spots!</h2>
        <form action='/search-location.json' method='POST' id="search">
          <label for="location">where: </label>
          <br>
          <input type="text" name="location" id="location"  placeholder="e.g. San Jose">
          <br>
          <label for="term">what: </label>
          <br>
          <input type="text" name="term" id="term" placeholder="e.g. Library">
          <br>
          <input class="btn btn-primary yelp-search" type="submit" value="Search">
        </form>
      </div> 


<div class="panel hidden results" id="yelpResultsPanel">
        <div class="panel-body fixed-panel">
          <div class="tab-content">
                <div class="tab-pane active" id="results">
                </div>
            </div>
        </div>
      </div>
<div class="panel" id="my-map"></div>
<div class="panel hidden title" id="infobox"></div>




<script src="/static/js/new_yelp.js"></script>
<script src="/static/js/googlemaps.js"></script>
<script src="/static/js/image.js"></script>
<script src="/static/js/calendar.js"></script>
<script src="/static/js/request.js"></script>
<script src="/static/js/date.js"></script>









{% endblock %}