{% extends 'base.html' %}
{% block content %}







<div class="container">
  <!-- Trigger the modal with a button -->

  <a data-toggle="modal" data-target="#myModal"> 
  	<div id="wrapper" width="300">
  		<img src="/static/images/{{image.image}}" class="img-thumbnail img-responsive hover" alt="Cinque Terre" width="300"> 
  		<p class="text" width="300">Upload</p>
  	</div>​
  </a>
  	

  <!-- Modal -->
  <form id="upload-file" method="POST" enctype="multipart/form-data">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <img src="/static/images/{{image.image}}" class="img-thumbnail img-responsive profile-pic" alt="Cinque Terre" width="300"> 
       <!--    <input name="file" type="file"> -->
         

        
			<div class="upload-button" style="cursor:pointer">Upload Image</div>
       <button id="upload-file-btn" type="button">Save</button>
    <!--   <button id="upload-file-btn" type="button">Upload</button> -->
      <!--  <button type="submit" class="btn btn-default" value="Submit">Submit</button> -->
			<!-- <div class="save-button" style="cursor:pointer">Save</div> -->
		
       		<input type="file" name="file" class="file-upload" id="upload" style="display: none;" accept="image/*" >
       
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  </form>
</div>




First Name: {{user.first_name}}<br>
Last Name: {{user.last_name}}<br>
<span id="user-email"> Email: {{user.email}} </span><br>
<a href="/create_event">Create Event</a>


<h2>User Events:</h2>
<ul id="user_events">
   {% for event in user_events %}
   <li>
    {{event.event_title}}
   </li>
    {% endfor %}
</ul>




<!-- <h2> Upcoming Events:</h2>
<ul id="event_requests">
   {% for event in event_request %}
   <li>
    {{event.event_title}}
   </li>
    {% endfor %}
</ul> -->




<!-- google maps -->
<h1 class="">Lazy Load Google Map</h1> 
<a href="#myMapModal" class="btn" data-toggle="modal">Launch Map Modal</a>

<div class="modal fade" id="myMapModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h4 class="modal-title">Modal title</h4>

            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div id="my-map" class="map-canvas"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

<!-- end -->

<script>

var map;        
var myCenter=new google.maps.LatLng(53, -1.33);
var marker=new google.maps.Marker({
    position:myCenter
});

function initialize() {
  var mapProp = {
      center:myCenter,
      zoom: 14,
      draggable: false,
      scrollwheel: false,
      mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  
  map=new google.maps.Map(document.getElementById("my-map"),mapProp);
  marker.setMap(map);
    
  google.maps.event.addListener(marker, 'click', function() {
      
    infowindow.setContent(contentString);
    infowindow.open(map, marker);
    
  }); 
};
google.maps.event.addDomListener(window, 'load', initialize);

google.maps.event.addDomListener(window, "resize", resizingMap());

$('#myMapModal').on('show.bs.modal', function() {
   //Must wait until the render of the modal appear, thats why we use the resizeMap and NOT resizingMap!! ;-)
   resizeMap();
})

function resizeMap() {
   if(typeof map =="undefined") return;
   setTimeout( function(){resizingMap();} , 400);
}

function resizingMap() {
   if(typeof map =="undefined") return;
   var center = map.getCenter();
   google.maps.event.trigger(map, "resize");
   map.setCenter(center); 
}


</script>








<script>

$(function() {
    $('#upload-file-btn').click(function() {
        var form_data = new FormData($('#upload-file')[0]);
        $.ajax({
            type: 'POST',
            url: '/uploadajax',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data) {
                console.log('Success!');
                location.reload(true);
            },
        });
    });
});
</script>
<script src="/static/js/image.js"></script>
<script src="/static/js/googlemaps.js"></script>



{% endblock %}