{% extends 'base.html' %}
{% block content %}







<div class="container">
  <!-- Trigger the modal with a button -->

  <a data-toggle="modal" data-target="#myModal"> 
  	<div id="wrapper" width="300">
  		<img src="/static/images/{{image.image}}" class="img-thumbnail img-responsive hover" alt="Cinque Terre" width="300"> 
  		<p class="text" width="300">Upload</p>
  	</div>​
  </a>
  	

  <!-- Modal -->
  <form id="upload-file" method="POST" enctype="multipart/form-data">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <img src="/static/images/{{image.image}}" class="img-thumbnail img-responsive profile-pic" alt="Cinque Terre" width="300"> 
       <!--    <input name="file" type="file"> -->
         

        
			<div class="upload-button" style="cursor:pointer">Upload Image</div>
       <button id="upload-file-btn" type="button">Save</button>
    <!--   <button id="upload-file-btn" type="button">Upload</button> -->
      <!--  <button type="submit" class="btn btn-default" value="Submit">Submit</button> -->
			<!-- <div class="save-button" style="cursor:pointer">Save</div> -->
		
       		<input type="file" name="file" class="file-upload" id="upload" style="display: none;" accept="image/*" >
       
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  </form>
</div>




First Name: {{user.first_name}}<br>
Last Name: {{user.last_name}}<br>
<span id="user-email"> Email: {{user.email}} </span><br>
<a href="/create_event">Create Event</a>


<h2>User Events:</h2>
<ul id="user_events">
   {% for event in user_events %}
   <li>
    {{event.event_title}}
   </li>
    {% endfor %}
</ul>




<h2> Upcoming Events:</h2>


<script>

$(function() {
    $('#upload-file-btn').click(function() {
        var form_data = new FormData($('#upload-file')[0]);
        $.ajax({
            type: 'POST',
            url: '/uploadajax',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data) {
                console.log('Success!');
                location.reload(true);
            },
        });
    });
});
</script>
<script src="/static/js/image.js"></script>

{% endblock %}